/* You can add global styles to this file, and also import other style files */
@import '~@bryntum/calendar/calendar.material.css';
@import '~@bryntum/demo-resources/scss/example.scss';

app-root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

body {
    font-family : Roboto, sans-serif;
    font-size   : 14px;
    height      : 100%;
    padding     : 0;
    margin      : 0;
}

app-root {
    flex           : 1;
    display        : flex;
    flex-direction : column;
    height         : 100vh;
}
