@import '../../../Grid/examples/_shared/shared.scss';

@media (max-width : 1023px) {
    .b-calendar .b-top-toolbar {
        font-size : 80%;
    }
}
  
@media (max-width : 700px) {
    .b-calendar .b-top-toolbar .b-calendar-view-desc, [data-ref=todayButton] {
        display : none;
    }

    .b-calendar .b-top-toolbar {
        padding-left : 0;
        font-size    : 0.8em;
    }

    .b-yearview-content .b-calendar-week {
        max-width : 100%;
    }

    .b-calendarrow .b-cal-cell-header {
        padding-top : 1em;

        .b-day-name-date {
            font-size : 1em;
        }
    }

    .b-agendaview {
        .b-cal-agenda-date {
            flex-shrink : 1;
        }

        .b-grid-cell {
            font-size : 0.7em;
        }

        .b-cal-agenda-event-time {
            flex: 0 0 9em;
        }
    }
}
