<bryntum-demo-header
    link="../../../../../#example-frameworks-angular-drag-from-grid"
></bryntum-demo-header>
<bryntum-project-model
    #project
    [events]="projectData.events"
    [resources]="projectData.resources"
></bryntum-project-model>

<div class="container">
    <bryntum-calendar
        #calendar
        [date]="calendarConfig.date!"
        [modes]="calendarConfig.modes!"
        [project]="project"
        [externalEventSourceFeature]="calendarConfig.features!.externalEventSource!"
        [eventTooltipFeature]="calendarConfig.features!.eventTooltip!"
    ></bryntum-calendar>
    <bryntum-splitter></bryntum-splitter>
    <bryntum-grid
        [id]="gridConfig.id!"
        [title]="gridConfig.title!"
        [collapsible]="gridConfig.collapsible!"
        [flex]="gridConfig.flex!"
        [ui]="gridConfig.ui!"
        [store]="gridConfig.store!"
        [columns]="gridConfig.columns!"
        [sortFeature]="gridConfig.features!.sort!"
        [stripeFeature]="gridConfig.features!.stripe!"
        [cellEditFeature]="gridConfig.features!.cellEdit!"
        [groupFeature]="gridConfig.features!.group!"
    ></bryntum-grid>
</div>
