:is(h1, p, input, button) {
    font-family: 'Roboto', 'Segoe UI', 'Open Sans', sans-serif;
}

.container-principal {
    max-width: 1000px;
    margin: 0.5em 0 0.5em 0;
    padding: 1rem;
}

.container-signup {
    padding: 3em 2em;
    flex-direction: stretch;
    background-color: rgba(254, 224, 200, 1);
    border-radius: 0.8em;
}

.container-signup p {
    color: #502B2B;
}

h1 {
    font-size: 2.5em;
    line-height: 3rem;
    margin: 1rem 0;
    color: rgba(127, 20, 20, 1);
}

p {
    font-size: 0.8em;
    line-height: 1rem;
    margin: 0.5rem 0;
    color: rgba(80, 43, 43, 1);
    display: block;

}

input {
    border-radius: 10px;
    box-shadow: none;
    height: 2.5em;
    margin: 0.5rem 0;
    max-width: 100%;
    width: 550px;
    border-style: none;
    padding: 1.2rem;
}

input:focus {
    /* border-color: #A02C2C; */
    color: rgba(80, 43, 43, 1);
}

.btn-link {
    margin: 0.5em 0;
    color: rgba(80, 43, 43, 1);
    margin: 0;
}

.btn-primary, .btn-primary:focus {
    background-color: #A02C2C;
    border-color: rgba(127, 20, 20, 1);
    font-weight: 700;
    border-radius: 10px;
    color: rgba(241, 239, 239, 1);
}

.btn-primary:hover {
    color: #A02C2C;
    background-color: rgba(255, 255, 255, 1);
    border: 2px solid #A02C2C;
}

.btn-secondary, .btn-primary:focus  {
    background: rgba(255, 255, 255, 1);
    border: 2px solid rgba(156, 156, 255, 1);
    color: rgba(156, 156, 255, 1);
    font-weight: 700;
    border-radius: 10px;
}

.btn-secondary:hover {
    color: #fff;
    background-color: rgba(156, 156, 255, 1);
    border-color: rgba(156, 156, 255, 1);
}

#container-opcao-cadastro{
    display: none;
}

#opcao-senha {
    display: none;
}

#input-envio-senha {
    display: none;
}

#confirmacao-envio {
    display: none;
    border: 1rem solid rgba(3, 124, 124, 0.795); 
    background-color: rgb(0, 181, 181);
    border-radius: 1em;
    padding: 0.8em;    
}

#confirmacao-envio > p {
    padding-left: 3em;
    margin: 0 auto;
    display: inline-block;
    color: rgba(255, 255, 255, 0.921)
}

#btn-fechar-popup {
    display: inline-block;
    position: relative;
    top: -0.5rem;
    left: 0.5em;
    width: 30px;
    height: 30px;    
}

#btn-fechar-popup:hover{
    /* background-color: rgba(3, 124, 124, 0.795);  */
    color: yellow;
    transition-duration: 0.8s;
    transform: scale(1.5);
}

.container-gatos {
    margin: 0 auto;
}

#img-gatos {
    margin: 0 auto;
}

.bar {
    background-color: rgba(156, 156, 255, 1);
    max-height: 10em;
    height: 8px;
}

.logo-animal-corp>div>img {
    margin: 0;
    padding: 0;
    vertical-align: middle;
    align-content: space-around;
    justify-content: center;
}

/* .flexbox {
    display: flex;
}

.hidden {
    display: none;
} */