@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/**
 *
 * The DayView. Days are vertical stack of hours in which intra day events are rendered.
 * A DayView can show a single of many days side by side.
 *
 */
/*
 * Calendar View styles
 *
 */
/*
 * Calendar header row styles
 *
 */
:root {
  --blue: #2667c8;
  --darker-blue: #1c4c94;
}

.b-theme-material {
  --blue: #1e88e5;
  --darker-blue: #176ab3;
}

.b-theme-classic {
  --blue: #1e88e5;
  --darker-blue: #176ab3;
}

.b-theme-classic-light {
  --blue: #42A5F5;
  --darker-blue: #3482c2;
}

.b-theme-classic-dark {
  --blue: #09316e;
  --darker-blue: #0d48a1;
}

body,
#browser {
  background: #f3f3f3;
}

body.b-theme-classic-dark,
body.b-theme-classic-dark #browser,
body.b-theme-classic-dark .group-header {
  background: #252528;
}
body.b-theme-classic-dark .group-header,
body.b-theme-classic-dark .example .title {
  color: #ccc;
}
body.b-theme-classic-dark #intro #live-example,
body.b-theme-classic-dark .example .image {
  background: #44444a;
}
body.b-theme-classic-dark .example img {
  background: transparent;
}

.b-watermark {
  display: none;
}

#browser {
  flex: 1;
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
}

#scroller {
  padding: 2em;
}

#intro {
  position: relative;
  color: #fff;
  font-weight: 400;
  font-size: 1.2em;
  overflow: hidden;
  max-height: 500px;
  background-color: var(--blue);
  transition: max-height 0.3s;
}
#intro #inner {
  display: flex;
  flex-direction: row;
  padding: 2em;
  flex: 1;
}
#intro #inner a {
  font-weight: 400;
  color: inherit;
}
#intro #inner a:hover {
  text-decoration: underline;
}
#intro #inner .b-watermark a {
  color: #166dba;
}
#intro #live-example {
  flex: 1;
  display: flex;
  font-size: 14px;
  max-width: 500px;
  min-height: 250px;
  transition: max-width 0.3s;
  background: #fff;
  border-radius: 3px;
}
#intro #live-example > .b-widget {
  border-radius: 3px;
}
#intro #live-example .b-cal-cell-header {
  padding-top: 0.75em !important;
}
#intro #live-example .b-cal-cell-header .b-day-name-date {
  font-size: 1.5em !important;
  height: 1.5em !important;
  width: 1.5em !important;
}
#intro p {
  flex: 1;
  margin: 2em 1em 2em 2em;
  transition: margin 0.4s;
  line-height: 1.6em;
  max-width: 50em;
}
#intro #close-button {
  position: absolute;
  top: 1em;
  right: 1em;
  font-size: 1em;
  margin-inline-start: 1em;
  cursor: pointer;
}
body[style*=rtl] #intro #close-button {
  right: auto;
  left: 1em;
}

.group-header {
  position: sticky;
  top: 0;
  background-color: #f3f3f3;
  z-index: 1;
  padding: 1em 0.8em;
  border-bottom: 2px solid var(--blue);
}

a {
  text-decoration: none;
}

p:first-child {
  margin-top: 0;
}

p:last-child {
  margin-bottom: 0;
}

#scroller {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(384px, 1fr));
  grid-gap: 1em;
}
#scroller h2 {
  grid-column: 1/-1;
  margin: 0;
  font-size: 1.7em;
}

.example {
  padding: 1em;
  border: 2px dotted transparent;
  max-width: 512px;
  cursor: pointer;
  position: relative;
  scroll-margin-top: 5em;
}
.example.updated label:after, .example.new label:after {
  content: "new";
  display: inline-block;
  color: #fff;
  margin-inline-start: 0.5em;
  padding: 0.2em 0.4em 0.3em 0.4em;
  background: #ff5722;
  border-radius: 0.2em;
  font-size: 0.8em;
  position: relative;
  top: -0.1em;
}
.example.updated label:after {
  content: "updated";
}
.example .image {
  position: relative;
  transition: all 0.2s;
  padding-top: 75%;
  background-color: #fff;
  border-radius: 3px;
}
.example img {
  position: absolute;
  top: 0;
  max-width: 100%;
  max-height: 100%;
  background-color: #fff;
  transition: all 0.2s;
  border: 1px solid #e4e5e6;
  border-radius: 3px;
}
.example i {
  position: absolute;
  right: 1em;
  bottom: 1em;
  font-size: 1em;
  color: #fff;
  background-color: var(--blue);
  padding: 0.7em;
  transition: background-color 0.2s linear;
  border-radius: 50%;
}
.example i::before {
  display: block;
  width: 1em;
  height: 1em;
  text-align: center;
}
.example i:hover {
  background-color: var(--darker-blue);
}
.example i.build {
  background-color: #ff9800;
}
.example i.build:hover {
  background-color: var(--blue);
}
.example .title {
  display: block;
  cursor: pointer;
  padding: 0.5em;
  padding-top: 1em;
  text-align: center;
  color: #000;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
  font-size: 16px;
}
.example .version {
  position: absolute;
  left: 1em;
  bottom: 1.1em;
  font-size: 1em;
  color: #fff;
  background-color: var(--blue);
  padding: 0.5em;
  border-radius: 0.2em;
}
.example .overlay {
  position: absolute;
  left: 1em;
  top: 1.5em;
  font-size: 1em;
  color: #fff;
  width: 4em;
  height: 4em;
  background-size: contain;
}
.example .overlay.angular {
  background-image: url("./logo/angular.svg");
}
.example .overlay.dotnet {
  background-image: url("./logo/dotnet.svg");
}
.example .overlay.extjs {
  background-image: url("./logo/sencha.svg");
}
.example .overlay.ionic {
  background-image: url("./logo/ionic.svg");
}
.example .overlay.php {
  background-image: url("./logo/php.svg");
}
.example .overlay.react {
  background-image: url("./logo/react.svg");
}
.example .overlay.sharepoint {
  background-image: url("./logo/sharepoint.svg");
}
.example .overlay.vue {
  background-image: url("./logo/vue.svg");
}
.example .overlay.webpack {
  background-image: url("./logo/webpack.svg");
}
.example:hover .image, .example:focus .image {
  transform: scale(1.02);
}
.example:hover img, .example:focus img {
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.025), 0 3px 9px rgba(0, 0, 0, 0.05);
}
.example:focus {
  border: 2px dotted var(--blue);
  border-radius: 2px;
  outline: none;
}

.b-demo-unavailable .b-panel-header {
  background-color: #ff9800;
  color: white;
}
.b-demo-unavailable .b-panel-content {
  padding: 1em;
}

.b-tooltip ul {
  padding: 0 1.5em;
}
.b-tooltip ul li {
  white-space: nowrap;
}

@media (max-width: 800px) {
  #intro #live-example {
    display: none;
    max-width: 0;
  }
  #intro p {
    margin: 0;
  }

  #container .b-toolbar .b-button {
    width: 3.5em !important;
  }
  #container .b-toolbar .b-button label {
    display: none;
  }
}
@media (max-width: 570px) {
  p {
    font-size: calc(0.7em + 1vw);
    line-height: calc(1.1em + 1vw);
  }

  [data-ref=filterField] {
    display: none;
  }
}
@media (max-width: 350px) {
  #container .b-toolbar .b-button {
    display: none;
  }
}
.light #intro {
  background-color: #039be5;
}

iframe[name=aweberFrame] {
  display: none;
}

.demo-header {
  z-index: 21;
  min-height: 39px;
}

#container .b-toolbar {
  flex: none !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 20;
}

.b-theme-classic .b-toolbar {
  background: #eee;
}

.b-theme-classic-dark .example img {
  border: none;
}

.is-loading-theme .demo-header {
  height: 38px;
}
.is-loading-theme.b-theme-classic #toolbar {
  background-color: #eee !important;
}
.is-loading-theme.b-theme-classic-dark #toolbar {
  background-color: #2b2b2f !important;
}
.is-loading-theme.b-theme-classic-light #toolbar {
  background-color: #f9f9f9 !important;
}
.is-loading-theme .b-tool {
  display: none;
}
.is-loading-theme #toolbar {
  min-height: 4.2em !important;
}

/*# sourceMappingURL=browser.css.map */
