.calendar-event-log {
    flex        : 1 1 auto;
    width       : 195px;
    max-width   : 195px;
    margin-top  : 1em;
    white-space : nowrap;

    .b-panel-header {
        padding-inline : 0;
        background     : transparent;
        border-bottom  : none;

        .b-header-title {
            font-size : 1em;
        }
    }

    .b-panel-content {
        font-style : italic;
        color      : #9b9b8e;
        padding    : 0;

        div {
            line-height : 1.5em;
        }
    }
}

.b-sidebar [data-ref="resourceFilter"] {
    flex-shrink : 0;
}

.b-sidebar {
    .resource-filter-title {
        margin-top          : 2em;
        margin-inline-start : 0;
        font-size           : 1em;
        font-weight         : 500;
        flex-shrink         : 0;
    }

    .b-field[data-ref="eventFilter"] {
        margin-top : 1em;
        flex       : 0 0 auto;
        width      : auto
    }
}

.b-theme-stockholm {
    .calendar-event-log .b-panel-header {
        text-transform : uppercase;
        color          : #616161;
    }
}


.b-theme-classic {
    .calendar-event-log .b-panel-header {
        color : #e6e6e6;
    }
}

.b-theme-classic-light {
    .calendar-event-log .b-panel-header,
    .b-tool {
        color : #616161;
    }
}

.b-theme-classic-dark {
    .calendar-event-log .b-panel-header {
        color : #e6e6e6;
    }
}

.b-theme-material {
    .calendar-event-log .b-panel-header,
    .b-tool {
        font-weight : 500;
        color       : #9e9e9e;
    }
}

