// Use custom, material-based dialog theme for editor
$text-color                  : rgba(0, 0, 0, 0.87) !default;
$tool-color                  : rgba(0, 0, 0, 0.54) !default;
$active-expand-trigger-color : #ff4081 !default;
$label-color                 : #3f51b5 !default;

.b-popup:not(.b-tooltip):not(.info-popup):not(.b-codeeditor) {
    color         : $text-color;
    border-radius : 4px;

    .b-popup-header {
        color   : rgba(0, 0, 0, 0.87);
        padding : 24px 24px 20px 24px;

        .b-header-title {
            font    : 500 20px/32px Roboto,Helvetica Neue,sans-serif;
        }
    
        .b-tool {
            font-size    : 1.3em;
            color        : $tool-color;
            margin-right : -0.6em;
            padding      : 0;
        }
    }
    
    .b-popup-header, .b-popup-content {
        background-color : white;
        border           : 0 none;
    }
    
    .b-toolbar {
        background-color : white;
    }


    .b-popup-content {
        padding : 0 24px 20px 24px;

        .b-widget.b-textfield {
            .b-field-inner::before, label {
                color : $label-color;
            }
        }
    }

    .b-button {
        border                      : 0 none;
        -webkit-tap-highlight-color : transparent;
        border-radius               : 4px;

        &:not(.b-pressed) {
            background-color : transparent;
        }

        &.b-pressed {
            background-color : inherit;
            box-shadow       : inset 0px 0px 0.4em rgba(0, 0, 0, 0.4);
            &:hover {
                background-color : inherit;
            }
        }

        &:focus {
            background-color : #d3d3d3!important;
        }

        label {
            color          : $label-color;
            text-transform : capitalize;
        }
    }

    .b-field {
        label, input  {
            color : $text-color;
        }
    }
}

.b-modal-mask {
    background : rgba(0,0,0,.32);
}

.b-popup.b-timepicker:not(.b-tooltip):not(.info-popup):not(.b-codeeditor) {
    .b-timepicker-content {
        padding : 0;
    }
}

.b-pickerfield.b-open {
    .b-fieldtrigger[data-ref="expand"]  {
        color : $active-expand-trigger-color!important;

        .b-icon-clock-live {
            background-color : $active-expand-trigger-color!important;
        }
    }
}

.ripple {
    fill : currentColor;
}
